@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab:wght@100;400&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Slab', serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
font-family: 'Montserrat', sans-serif !important;
}

.testing {
  background-color: black !important;
}

.frames {
  font-family: sans-serif;
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  place-content: center;
  color:yellow !important;
  place-items: center;
  background-color: rgba(0, 85, 255, 1) !important;
  margin: 0;
  padding: 0;
  perspective: 1000px;
}


.testing {
  position: absolute;
z-index: -1;
top: 0;
left: 0;
}
