@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,800;1,400&family=Roboto+Slab:wght@100;400&display=swap');

body {
  margin: 0;
  background-color:#50DBB4;
  font-family: 'Roboto Slab', serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
font-family: 'Montserrat', sans-serif !important;
}

.testing {
  background-color: black !important;
}

.smallHeader {
  font-size:14px;
  font-weight:800 !important;
  letter-spacing: 3.36px;
  text-transform: uppercase;
  color:#DAF7DC ;
}

.frames {
  font-family: sans-serif;
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  place-content: center;
  place-items: center;
  background-color: rgba(0, 85, 255, 1) !important;
  margin: 0;
  padding: 0;
  perspective: 1000px;
}

.logo {
  width:25% !important;
}

.headLine {
  font-size:65px !important;
}

.testing {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.copy {
  margin: 0;
  position: absolute;
  width:65%;
  top: 50%;
  left: 50%;
  padding:40px;
  color:white;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.topMenu {
  padding:20px;
}

.ui.secondary.menu .item{
  color:white !important;
}

.copyimage {
  padding:30px !important;
}

.header {
  color:white;
  text-align:left;
  font-size:60px;
  padding:20px;
}

.followUp {
  color:white;
  text-align:left;
  padding:20px;
  letter-spacing: 3px;
  line-height:25px;

}

.alice-carousel__stage-item {
  padding:10px !important;
}

.multiple {
  padding: 100px 40px 100px 40px;
  border-radius:10px !important;
  border-color:rgba(8,72,114,.05);
  background-color: #181818;
  box-shadow: 0 10px 30px 0 #050505;
}

.alice-carousel__prev-btn, .alice-carousel__next-btn {
  width: auto !important;
}

.faqHeader {
  font-size:60px;
  text-align:left;
  color:#DAF7DC;
  border-top:1px solid white;
}

.ui.styled.accordion, .ui.styled.accordion .accordion {
  background-color: black;
}


.ui.accordion .accordion .active.content, .ui.accordion .active.content, .ui.styled.accordion .accordion .content, .ui.styled.accordion .content {
  color:white !important;
  text-align:left;
}

.ui.styled.accordion {
  width:60% !important;
  margin: 0 auto !important;
}

.ui.styled.accordion .active.title {
  color:white;
  text-align:left;
}

.ui.accordion .accordion .title .dropdown.icon, .ui.accordion .title .dropdown.icon {
  color:white;
}
